/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1em;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main-frame {
    width: 1024px;
    margin: 0 auto;
}

.view-top {
    float: top;
    background-color: #f9f9f9;
    border: 1px solid white;
}

/*#view-detial {*/

    /*!*border: 1px solid blue;*!*/
    /*font: bold 12px/25px Arial, sans-serif;*/
/*}*/

.view-down {
    float: top;
    background-color: #f9f9f9;
    /*border: 1px solid green;*/
}

.module-log-box {
    width: 100%;
    border: 1px;
}


/*.detial-title {*/
    /*float: left;*/
/*}*/

/*.detial-content {*/
    /*float: left;*/
/*}*/


.app-module-table {
    width: 100%;
}

.module-row {
    margin: 0px;
    border: 0px;
    padding: 4px 2px;
    height: 0px;
}

.detial-row {
    border: 2px solid white;
    height: 2em;
}

.detial-title {
    display: inline-block;
    position: relative;
    margin: 2px;
    padding: 4px;
    text-align: left;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
    text-space: nowarp;
    border-radius: 0.3em;
    border: 1px solid #dddddd;
    background-color: #f6f6f6;
}

.detial-content {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 4px;
    border: 0px;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    text-align: left;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
    width: 11em;
    background-color: yellow;
}

/*模块选中时的状态*/
.select-status {
    /*border: 4px solid red;*/
    /*border-radius: 0.3em;*/
    /*background-color: red;*/
    cursor: default;
    /*outline:#FFFF00 solid thick;*/
    /*-moz-outline-radius: 0.6em;*/

    border-radius: 0.2em;
    box-shadow: 0 0 0 3px #FF7720;
}

/*模块未被选中时的状态*/
.diselect-status {
    border: 0px;
    border-radius: 0.3em;
    cursor: default;
}

/*模块按钮左侧*/
.module-button-left {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    text-align: left;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
    width: 11em;
}

/*模块按钮右侧*/
.module-button-right {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    text-align: right;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
    width: 2em;
    cursor: pointer;
}

/*发布状态的颜色识别：成功*/
.last-publish-success {
    background-color: #77c71F;
    color: white;
}

/*发布状态的颜色识别：失败*/
.last-publish-failure {
    background-color: darkred;
    color: white;
}

/*发布状态的颜色识别：未知*/
.last-publish-unknown {
    background-color: #555555;
    color: white;
}

/* 模块发布完成 */
.module-published {
    color: #515151;
    background: #9e9e9e;
    text-align: center;
}

/* 模块正在发布 */
.module-publishing {
    color: #FFFFFF;
    background: #ffaa1e;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
